<md-card class="md-card" *ngIf="user">
  <md-card-header>

    <img class="main-avatar" md-card-avatar [src]="user.general.avatar" alt="">
    <div class="card-header-text">
      <md-card-title class="card-title">
        <h2>{{user.general.firstName + " " +user.general.lastName}}</h2>
      </md-card-title>
      <md-card-subtitle>{{user.job.title + ' - ' + user.job.company}}</md-card-subtitle>
    </div>

  </md-card-header>
  <md-card-content>
    <md-list>
      <md-divider></md-divider>
      <h3 md-subheader>Address</h3>
      <md-list-item>
        <h4 md-line>
          Street:
          {{user.address.street}}
        </h4>
      </md-list-item>
      <md-list-item>
        <h4 md-line>
          City:
          {{user.address.city}}
        </h4>
      </md-list-item>
      <md-list-item>
        <h4 md-line>
          Zip Code:
          {{user.address.zipCode}}
        </h4>
      </md-list-item>
      <md-list-item>
        <h4 md-line>
          Country:
          {{user.address.country}}
        </h4>
      </md-list-item>

      <md-divider></md-divider>
      <h3 md-subheader>Contact</h3>

      <md-list-item>
        <h4 md-line>
          Email:
          <a href="mailTo:{{user.contact.email}}">{{user.contact.email}}</a>
        </h4>
      </md-list-item>

      <md-list-item>
        <h4 md-line>
          Phone:
          <a href="tel:{{user.contact.phone}}">{{user.contact.phone}}</a>
        </h4>
      </md-list-item>

      <md-divider></md-divider>
    </md-list>
  </md-card-content>

  <md-card-actions>
    <a href="tel:{{user.contact.phone}}" md-button><md-icon>call</md-icon> CALL</a>
    <a href="tel:{{user.contact.phone}}" md-button><md-icon>mail_outline</md-icon> SEND MAIL</a>
  </md-card-actions>

</md-card>

<md-card class="md-card" *ngIf="!user">
  <md-card-header>
    <md-card-title>
      <h2>Welcome to my awesome ClientsList App <md-icon color="accent">stars</md-icon></h2>
    </md-card-title>
    <md-card-subtitle>
      <h3>Pick any <md-icon color="primary">account_circle</md-icon> from the list, or </h3>
      <h3>Search <md-icon color="primary">search</md-icon> for someone by any info that you remember about person you are looking for</h3>
    </md-card-subtitle>
  </md-card-header>
</md-card>